sync.sh
.config/figma-linux
.config/blender
.config/blender-benchmark-launcher
.config/btop
.config/chromium
.config/coc
.config/dconf
.config/discord
.config/Electron
.config/gconf
.config/GIMP
.config/gtk-2.0
.config/gtk-3.0
.config/htop
.config/ibus
.config/libfm
.config/libreoffice
.config/matplotlib
.config/menus
.config/mimeapps.list
.config/neofetch
.config/nitrogen
.config/notion-enhanced
.config/obs-studio
.config/obsidian
.config/octave
.config/OpenRGB
.config/pavucontrol.ini
.config/pcmanfm
.config/procps
.config/pulse
.config/procps
.config/pulse
.config/Raspberry Pi
.config/rclone
.config/psppirerc
.config/pylint.d
.config/rofimoji.rc
.config/Unknown Organization
.config/QtProject.conf
.config/vlc
.config/whatsapp-nativefier-d40211
.config/Xorg
.config/yay
.config/zsh/.zcompdump
.config/zoomus.conf
.ProgsOthers/dwm/.git
.ProgsOthers/dmenu/.git
.ProgsOthers/dwmbar/.git
