.config/figma-linux
.config/discord
.config/dconf
.config/GIMP
.config/libfm
.config/mimeapps.list
.config/obs-studio
.config/pavucontrol.ini
.config/procps
.config/pulse
.config/pylint.d
.config/QrProject.conf
.config/vlc
