[Unit]
Description=Mailspring
After=autostart-wait-online.service
PartOf=autostart-wait-online.service

[Service]
ExecStart=/usr/bin/mailspring --password-store="gnome-libsecret"
# kill entire cgroup on stop
KillMode=control-group

[Install]
WantedBy=autostart-wait-online.service
