[Unit]
Description=Nextcloud
After=autostart-wait-online.service
PartOf=autostart-wait-online.service

[Service]
ExecStart=/usr/bin/nextcloud
# kill entire cgroup on stop
KillMode=control-group

[Install]
WantedBy=autostart-wait-online.service
